* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --cn-dark-solid: #020617;
  --cn-dark-900: #0f172a;
  --cn-blue-main: #0e72ca;
  --cn-blue-opacity: #1482e2a6;
  --cn-blue-opacity-2: #1482e233;
  --cn-blue-light: #82c4fd;
  --cn-pink-main: #ff2e62;
  --cn-gray-300: #d1d5db;
  --cn-gray-100: #333;
  --cn-font-main: "Inter", sans-serif;
  --cn-font-heading: "Open Sans", sans-serif;
  --cn-radius: 16px;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--cn-font-main);
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--cn-dark-solid);
  color: var(--cn-gray-300);
  line-height: 1.4;
}
ul {
  list-style-type: none;
}
h1,
h2,
h3 {
  font-family: var(--cn-font-heading);
}
p:not(:last-child) {
  margin-bottom: 1.5rem;
}
a {
  text-decoration: none;
  color: var(--cn-pink-main);
}
img {
  max-width: 100%;
}
.wrapper {
  padding: 0 2rem;
  margin: 0 auto;
  max-width: 1100px;
}
/* Hero Section */
.portfolioHero {
  position: relative;
  background: var(--cn-dark-solid) url(../images/profile-bg.jpg) no-repeat
    center center / cover;
  overflow: hidden;
}
.profilePic {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 1.5rem;
  box-shadow: 0 0 30px var(--cn-blue-opacity);
}
.profilePic img {
  display: block;
}
.blurBg {
  position: absolute;
  inset: 0;
  z-index: 0;
  animation: fade-in 2s;
}
@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.blurBg span {
  position: absolute;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  filter: blur(120px);
  opacity: 0.7;
  top: 0;
  right: 0;
  animation: float 12s ease-in-out infinite alternate;
}
/* Blob 1 */
.blurBg span:nth-child(1) {
  background: var(--cn-blue-main);
  top: 10%;
  left: 15%;
  animation-duration: 10s;
}
/* Blob 2 */
.blurBg span:nth-child(2) {
  background: var(--cn-dark-solid);
  top: 10%;
  right: 15%;
  animation-duration: 12s;
}
/* Blob 3 */
.blurBg span:nth-child(3) {
  background: var(--cn-pink-main);
  opacity: 0.5;
  top: 30%;
  right: 30%;
  animation-duration: 10s;
}
@keyframes float {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  50% {
    transform: translate(30px, -40px) scale(1.05);
  }
  100% {
    transform: translate(-20px, 20px) scale(0.98);
  }
}
.heroContent {
  position: relative;
  z-index: 1;
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;
  text-shadow: 0 0 5px var(--cn-dark-solid);
}
.animated-btn {
  background: linear-gradient(45deg, var(--cn-blue-main), var(--cn-pink-main));
  border: none;
  color: white;
  padding: 1rem 2rem;
  font-size: 1rem;
  border-radius: var(--cn-radius);
  cursor: pointer;
  margin-top: 2rem;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
  animation: pulse 2s infinite;
  display: inline-flex;
}
.animated-btn:hover {
  box-shadow: 0 0 20px var(--cn-blue-opacity);
}
.animated-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.2),
    transparent
  );
  transition: left 0.5s;
}
.animated-btn:hover::before {
  left: 100%;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(14, 114, 202, 0.7);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(14, 114, 202, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(14, 114, 202, 0);
  }
}
.heroLabel {
  font-family: var(--cn-font-heading);
  font-size: 1.25rem;
  color: var(--cn-pink-main);
  text-shadow: 0 0 10px var(--cn-dark-900);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 1rem;
  animation: heroLabel 1.25s;
}
@keyframes heroLabel {
  from {
    transform: translateY(1rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
h1 {
  font-size: 3.75rem;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 1.5rem;
  animation: heroHeading 1.5s;
}
h1 span {
  display: block;
  color: var(--cn-pink-main);
  text-shadow: 0 0 10px var(--cn-dark-900);
}
@keyframes heroHeading {
  from {
    transform: translateY(-1rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.hero p {
  color: var(--cn-gray-300);
  animation: heroParagraph 1.5s;
}
@keyframes heroParagraph {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
/* Section Styles */
section {
  background-color: var(--cn-dark-900);
  padding: 5rem 1.5rem;
}
.sectionHeader {
  text-align: center;
  margin-bottom: 3rem;
}
.sectionHeader h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: var(--cn-blue-main);
  overflow: hidden;
  display: flex;
  align-items: center;
}
.sectionHeader h2 span {
  color: var(--cn-pink-main);
  margin-left: 10px;
}
.sectionHeader h2::before,
.sectionHeader h2::after {
  content: "";
  opacity: 0.5;
  flex: 1;
  height: 1px;
}
.sectionHeader h2::before {
  margin-right: 16px;
  background: linear-gradient(
    270deg,
    var(--cn-blue-main) 0%,
    rgba(7, 18, 50, 0) 100%
  );
}
.sectionHeader h2::after {
  margin-left: 16px;
  background: linear-gradient(
    270deg,
    rgba(7, 18, 50, 0) 0%,
    var(--cn-pink-main) 100%
  );
}
.sectionHeader > p {
  max-width: 800px;
  margin: 0 auto;
}
.companyContent ul li strong,
section p strong {
  color: var(--cn-blue-light);
  font-weight: 400;
}
.servicesGrid {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex-wrap: wrap;
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}
.serviceCard {
  display: flex;
  align-items: center;
}
.serviceCard:nth-child(2n + 2) {
  flex-direction: row-reverse;
}
.serviceImg {
  flex: 0 0 40%;
  position: relative;
}
.serviceImg::before,
.serviceImg::after {
  content: "";
  position: absolute;
}
.serviceImg::before {
  background: var(--cn-blue-main);
  width: 300px;
  height: 300px;
  border-radius: 50%;
  filter: blur(80px);
  opacity: 0.7;
  top: 40%;
  left: 0;
  transform: translate(-50%, -50%);
}
.serviceImg::after {
  background-color: var(--cn-dark-900);
  filter: blur(16px);
  top: -1rem;
  right: -1rem;
  border-radius: var(--cn-radius);
  height: 100%;
  width: 100%;
}
.serviceImg img {
  border-radius: var(--cn-radius);
  position: relative;
  display: block;
  z-index: 1;
}
.serviceContent {
  background: linear-gradient(
    90deg,
    rgba(2, 6, 23, 0.28) 0%,
    rgba(255, 16, 147, 0.2) 100%
  );
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 2rem;
  border-radius: var(--cn-radius);
  position: relative;
  left: -30px;
  flex: 1;
  z-index: 1;
  color: var(--cn-gray-400);
}
.serviceContent ul {
  font-size: 0.875rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.serviceCard:nth-child(2n + 2) .serviceContent {
  background: linear-gradient(
    90deg,
    rgba(3, 90, 166, 0.2) 0%,
    rgba(2, 6, 23, 0.28) 100%
  );
  left: 30px;
}
.serviceCard h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.75rem;
  text-shadow: 0 0 5px var(--cn-dark-900);
}
.serviceCard:nth-child(2n + 2) h3 a {
  color: var(--cn-blue-main);
}
.alternateSection {
  background-color: var(--cn-dark-solid);
}
.serviceCard ul li {
  position: relative;
  padding-left: 20px;
}
.companyContent ul li::before,
.serviceCard ul li::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--cn-pink-main);
  left: 0;
  top: 7px;
}
.companyContent ul li::before,
.serviceCard:nth-child(2n + 2) ul li::before {
  background-color: var(--cn-blue-main);
}
.connections {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}
.connections a {
  color: inherit;
}
.connections li {
  display: flex;
  align-items: center;
  gap: 8px;
}
.connections li img {
  width: 20px;
  display: block;
}
.companyHeading {
  display: flex;
  margin-bottom: 1.5rem;
}
.companyHeading > span {
  margin-left: auto;
  margin-top: 10px;
  font-size: 0.875rem;
}
.companyHeading h3 {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  flex: 1;
}
.companyHeading h3 > span {
  margin-top: 6px;
}
.companyHeading h3 em {
  color: var(--cn-pink-main);
  font-style: normal;
}
.companyHeading h3 img {
  width: 36px;
}
.companyContent {
  margin-left: 46px;
}
h4 {
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--cn-blue-main);
}
.companyContent ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 0.5rem;
}
.companyContent ul li {
  position: relative;
  font-size: 0.875rem;
  padding-left: 20px;
}
.companyList {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.educationList {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.educationList li {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 2.5rem;
}
.educationList li svg {
  position: absolute;
  width: 1.5rem;
  color: var(--cn-blue-main);
  left: 0;
  top: 0;
}
.educationList li h3 {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.25rem;
}
.educationList li h3 span {
  color: var(--cn-pink-main);
  font-weight: 600;
}
.educationList li em {
  font-size: 0.875rem;
  color: var(--cn-blue-light);
  font-style: normal;
}
.skillList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.skillList > li {
  box-shadow: 0 0 80px var(--cn-blue-opacity-2);
  border-radius: var(--cn-radius);
  padding: 1.5rem;
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}
.skillList .skillImg {
  width: 25%;
  flex: 0 0 25%;
  border-radius: var(--cn-radius);
  overflow: hidden;
}
.skillList .skillImg img {
  display: block;
  width: 100%;
}
.skillContent {
  flex: 1;
}
.skillContent h3 {
  color: var(--cn-blue-main);
  font-size: 1.25rem;
  margin-bottom: 1rem;
}
.skillContent ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.skillContent ul li {
  background-color: var(--cn-dark-900);
  padding: 0.5rem 1rem;
  border-radius: var(--cn-radius);
  font-size: 0.875rem;
  border-bottom: 2px solid var(--cn-gray-100);
}
/* Responsive Design */
@media (max-width: 991px) {
  h1 {
    font-size: 3rem;
  }
  section {
    padding: 3rem 1rem;
  }
  .animated-btn {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
  }
  .skillList .skillImg {
    width: 35%;
    flex: 0 0 35%;
  }
  .serviceContent {
    padding: 1rem;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 2rem;
  }
  section {
    padding: 2.5rem 0;
  }
  .heroLabel {
    font-size: 1rem;
  }
  .connections {
    gap: 1rem;
  }
  .sectionHeader {
    margin-bottom: 2rem;
  }
  .sectionHeader h2 {
    display: block;
    position: relative;
    padding-bottom: 0.5rem;
    font-size: 1.5rem;
  }
  .sectionHeader h2 span {
    margin: 0;
  }
  .sectionHeader h2::before,
  .sectionHeader h2::after {
    position: absolute;
    bottom: 0;
    width: 50%;
    height: 1px;
    margin: 0 5px;
  }
  .sectionHeader h2::before {
    right: 50%;
  }
  .sectionHeader h2::after {
    left: 50%;
  }
  .companyHeading {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;
  }
  .companyHeading > span {
    margin: 0 0 0 46px;
  }
  .serviceCard,
  .serviceCard:nth-child(2n + 2) {
    flex-direction: column;
  }
  .serviceImg {
    flex: 1;
    max-width: 300px;
  }
  .serviceContent,
  .serviceCard:nth-child(2n + 2) .serviceContent {
    left: auto;
    top: -20px;
    padding: 2rem 1rem;
  }
  .skillList > li {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 1.5rem 1rem;
  }
  .skillList .skillImg {
    width: 100%;
    flex: 0 0 100%;
    max-width: 240px;
  }
  .skillContent ul {
    justify-content: center;
  }
  .serviceCard h3 {
    font-size: 1.25rem;
  }
}
